<img src="imgs/modelo_cnes_puc.jpeg" width="820" height="820">

In [1]:
import pandas as pd
import psycopg2

## Importando tabela de unidades e selecionando colunas definidas na modelagem

In [2]:
panarama_geral_filepath = 'raw_data/EXTRATO - ESTABELECIMENTOS + LEITOS.csv'
df_unidades_saude = pd.read_csv(panarama_geral_filepath)
df_unidades_saude_cols_selecionadas = df_unidades_saude[['CNES', 'NOME FANTASIA', 'LOGRADOURO', 'BAIRRO']]
df_unidades_saude_cols_selecionadas.head()

,CNES,NOME FANTASIA,LOGRADOURO,BAIRRO
0,6916325,US 378 USF JARDIM TERESOPOLIS,RUA EXPEDICIONARIO ANTONIO ROMANO - 180,VARZEA
1,639,US 106 CS PROF JOAQUIM CAVALCANTE,ESTRADA DO FORTE DO ARRAIAL NOVO DO BOM JESUS ...,TORROES
2,7018525,US 384 ACADEMIA DA CIDADE POLO CAFEZOPOLIS,RUA CAFEZOPOLIS - S/N,IMBIRIBEIRA
3,26328,US 262 USF JOSE SEVERIANO DA SILVA,AV JERONIMO VILELA - 794,CAMPO GRANDE
4,2070,US 173 USF DANCING DAYS,RUA DANCING DAYS - 109,IMBIRIBEIRA

### Importando tabela de equipes e selecionando colunas desejadas

In [3]:
profissionais_equipes_filepath = 'raw_data/CNES - EXTRATO PROFISSIONAIS SUS.csv'
df_equipes = pd.read_csv(profissionais_equipes_filepath)
df_equipes_colunas_selecionadas = df_equipes[['equipe_ine', 'equipe_nome', 'TIPO EQUIPE', 'equipe_dt_ativacao', 'equipe_dt_desativacao']]
df_equipes_colunas_selecionadas.head()

,equipe_ine,equipe_nome,TIPO EQUIPE,equipe_dt_ativacao,equipe_dt_desativacao
0,0001593935,EQUIPE III - NOVA DESCOBERTA,70 - ESF - EQUIPE DE SAUDE DA FAMILIA,19/11/2015,-
1,-,-,SEM EQUIPE VINCULADA,-,-
2,-,-,SEM EQUIPE VINCULADA,-,-
3,-,-,SEM EQUIPE VINCULADA,-,-
4,-,-,SEM EQUIPE VINCULADA,-,-

## Importando tabela de profissionais e selecionando colunas desejadas

In [4]:
df_profissionais = pd.read_csv(profissionais_equipes_filepath)
df_profissionais_colunas_selecionadas = df_profissionais[['cnes','profissional_cns', 'profissional_cbo', 'profissional_nome', 'equipe_dt_entrada', 'equipe_dt_desligamento']]
df_profissionais_colunas_selecionadas.head()

,cnes,profissional_cns,profissional_cbo,profissional_nome,equipe_dt_entrada,equipe_dt_desligamento
0,7845367,705007094031950,515105 - AGENTE COMUNITARIO DE SAUDE,DANILO VELOZO MARQUES,15/03/2024,-
1,590,706109504143760,251605 - ASSISTENTE SOCIAL,GERMANA TENORIO SOARES DA ROCHA,-,-
2,884,700802438782088,225265 - MEDICO OFTALMOLOGISTA,HERVAL CAVALCANTI PEREIRA DE SA MARTINS FILHO,-,-
3,671,709008811259914,322415 - AUXILIAR EM SAUDE BUCAL,CILENE CORREIA LEAO,-,-
4,671,706004829092142,322230 - AUXILIAR DE ENFERMAGEM,ANA LUCIA SOARES DA SILVA,-,-

### Importando tabela fato

In [5]:
fato_atendimentos_filepath = 'raw_data/atendimentos.xlsx'

df_fato_atendimentos = pd.read_excel(fato_atendimentos_filepath)

### Criando funcao para normalizar nome das colunas

In [6]:
def normalize_columns(df):
    if df is None:
        print("Input DataFrame is None")
        return None

    df.columns = (
        df.columns
        .str.encode('ascii', errors='ignore')  # Remover acentos
        .str.decode('utf-8')
        .str.replace(' ', '_')  
        .str.lower()
    )
    
    print("Normalized column names:", df.columns.tolist())

    return df

### Chamando funcao normalize_columns

In [7]:
normalize_columns(df_unidades_saude_cols_selecionadas)

Normalized column names: ['cnes', 'nome_fantasia', 'logradouro', 'bairro']

,cnes,nome_fantasia,logradouro,bairro
0,6916325,US 378 USF JARDIM TERESOPOLIS,RUA EXPEDICIONARIO ANTONIO ROMANO - 180,VARZEA
1,639,US 106 CS PROF JOAQUIM CAVALCANTE,ESTRADA DO FORTE DO ARRAIAL NOVO DO BOM JESUS ...,TORROES
2,7018525,US 384 ACADEMIA DA CIDADE POLO CAFEZOPOLIS,RUA CAFEZOPOLIS - S/N,IMBIRIBEIRA
3,26328,US 262 USF JOSE SEVERIANO DA SILVA,AV JERONIMO VILELA - 794,CAMPO GRANDE
4,2070,US 173 USF DANCING DAYS,RUA DANCING DAYS - 109,IMBIRIBEIRA
...,...,...,...,...
313,3703223,US 331 USF PROF AMAURY DE MEDEIROS,RUA RORAIMA - 102,UR 07 VARZEA
314,3397556,US 146 POLO ACADEMIA DA CIDADE ERMIRIO DE MORAES,AV 17 DE AGOSTO - 2388,MONTEIRO
315,1244,US 175 USF DR DIOGENES CAVALCANTI,RUA ALTO DA BRASILEIRA - 1002,NOVA DESCOBERTA
316,817,US 149 CS OLINTO OLIVEIRA,RUA SAO FRANCISCO DE PAULA - 47,CAXANGA
317,266493,US 108 CS BOA VISTA,LARGO DA SANTA CRUZ - S/N,BOA VISTA

In [8]:
normalize_columns(df_equipes_colunas_selecionadas)

Normalized column names: ['equipe_ine', 'equipe_nome', 'tipo_equipe', 'equipe_dt_ativacao', 'equipe_dt_desativacao']

,equipe_ine,equipe_nome,tipo_equipe,equipe_dt_ativacao,equipe_dt_desativacao
0,0001593935,EQUIPE III - NOVA DESCOBERTA,70 - ESF - EQUIPE DE SAUDE DA FAMILIA,19/11/2015,-
1,-,-,SEM EQUIPE VINCULADA,-,-
2,-,-,SEM EQUIPE VINCULADA,-,-
3,-,-,SEM EQUIPE VINCULADA,-,-
4,-,-,SEM EQUIPE VINCULADA,-,-
...,...,...,...,...,...
32060,-,-,SEM EQUIPE VINCULADA,-,-
32061,-,-,SEM EQUIPE VINCULADA,-,-
32062,-,-,SEM EQUIPE VINCULADA,-,-
32063,-,-,SEM EQUIPE VINCULADA,-,-
32064,-,-,SEM EQUIPE VINCULADA,-,-

In [9]:
normalize_columns(df_profissionais_colunas_selecionadas)

Normalized column names: ['cnes', 'profissional_cns', 'profissional_cbo', 'profissional_nome', 'equipe_dt_entrada', 'equipe_dt_desligamento']

,cnes,profissional_cns,profissional_cbo,profissional_nome,equipe_dt_entrada,equipe_dt_desligamento
0,7845367,705007094031950,515105 - AGENTE COMUNITARIO DE SAUDE,DANILO VELOZO MARQUES,15/03/2024,-
1,590,706109504143760,251605 - ASSISTENTE SOCIAL,GERMANA TENORIO SOARES DA ROCHA,-,-
2,884,700802438782088,225265 - MEDICO OFTALMOLOGISTA,HERVAL CAVALCANTI PEREIRA DE SA MARTINS FILHO,-,-
3,671,709008811259914,322415 - AUXILIAR EM SAUDE BUCAL,CILENE CORREIA LEAO,-,-
4,671,706004829092142,322230 - AUXILIAR DE ENFERMAGEM,ANA LUCIA SOARES DA SILVA,-,-
...,...,...,...,...,...,...
32060,423645,700607926729166,223405 - FARMACEUTICO,ALICE CEZAR DE LIMA,-,-
32061,449423,708107129622740,223405 - FARMACEUTICO,CICERO SOBRINHO DE OLIVEIRA FILHO,-,-
32062,9179038,704000347622361,221105 - BIOLOGO,SIMONE LISBOA NOVAIS CAVALCANTI,-,-
32063,6657532,700305952524534,515215 - AUXILIAR DE LABORATORIO DE ANALISES C...,EDNA BARBOSA DA SILVA,-,-
32064,9636129,706509331592492,221205 - BIOMEDICO,SUZY GLAICE RIBEIRO SANTOS,-,-

In [10]:
normalize_columns(df_fato_atendimentos)

Normalized column names: ['dia', 'nu_ine', 'nu_cnes', 'no_cbo', 'no_profissional', 'ds_turno', 'qt_atendimentos']

,dia,nu_ine,nu_cnes,no_cbo,no_profissional,ds_turno,qt_atendimentos
0,2022-01-01,NaN,6362508,Enfermeiro,Carlos Alberto de Laranjeiras Pinto Filho,Tarde,1
1,2022-01-01,NaN,6362508,Enfermeiro,Carlos Alberto de Laranjeiras Pinto Filho,Não informado,2
2,2022-01-01,NaN,6362508,Enfermeiro,Carlos Alberto de Laranjeiras Pinto Filho,Manhã,4
3,2022-01-01,NaN,6362508,Enfermeiro,Claudia Cristina Oliveira de Almeida,Noite,3
4,2022-01-01,1557769.0,7524501,Enfermeiro,Jaercia Cardoso Lacerda,Noite,3
...,...,...,...,...,...,...,...
513074,2024-09-27,NaN,26328,Dentista,Maria Eugenia Meira Lins D'amorim,Tarde,24
513075,2024-09-28,155357.0,3371336,Médico,Erika Ribeiro Leao Bezerra,Noite,14
513076,2024-09-28,153869.0,22330,Médico,Amanda Carla Valentim de Souza da Costa Bezerra,Noite,2
513077,2024-09-28,155039.0,3131572,Médico,Tatiana Paula Balieiro Silva de Albuquerque Fi...,Manhã,1
513078,2024-09-28,152862.0,957,Médico,Liane Morgentale Disconzi,Tarde,2

### Criando conexao com o banco de dados Postgres

In [11]:
try:
    conn = psycopg2.connect("host=localhost port=5257 dbname=db_fonte user=puc password=puc")
    print("Connected!")
except psycopg2.Error as e:
    print(e)

Connected!

### Criando cursor para o banco de dados

In [12]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print(e)

### Criando schema e carregando tabelas no banco de dados

In [13]:
schema_name = 'fonte'

try:
    cur.execute(f"CREATE SCHEMA IF NOT EXISTS {schema_name};")
    conn.commit()
    print(f"Schema '{schema_name}' criado com sucesso ou já existe.")
except psycopg2.Error as e:
    conn.rollback()
    print(f"Erro ao criar o schema '{schema_name}': {e}")

Schema 'fonte' criado com sucesso ou já existe.

### Carregando tabelas no banco de dad

In [14]:
from sqlalchemy import create_engine

# Configurando a string de conexão
engine = create_engine("postgresql+psycopg2://puc:puc@localhost:5257/db_fonte")

# Salvando os DataFrames no schema especificado

df_unidades_saude_cols_selecionadas.to_sql('unidades_saude', engine, schema=schema_name, if_exists='replace', index=False)
df_equipes_colunas_selecionadas.to_sql('equipes', engine, schema=schema_name, if_exists='replace', index=False)
df_fato_atendimentos.to_sql('atendimentos', engine, schema=schema_name, if_exists='replace', index=False)
df_profissionais_colunas_selecionadas.to_sql('profissionais', engine, schema=schema_name, if_exists='replace', index=False)
print("Tabela inseridas no banco de dados com sucesso!")

# Fecha a conexão
engine.dispose()

Tabela inseridas no banco de dados com sucesso!

### Fecha a conexao com o banco de dados

In [15]:
cur.close()
conn.close()