In [ ]:
#!python.exe -m pip install --upgrade pip

In [ ]:
#!pip install pandas

In [ ]:
#!pip install psycopg2

In [1]:
#!pip install sqlalchemy

In [2]:
import pandas as pd
import psycopg2

In [3]:
fato_atendimentos_filepath = 'raw_data/atendimentos.xlsx'

df_fato_atendimentos = pd.read_excel(fato_atendimentos_filepath)
df_fato_atendimentos.head()

,dia,nu_ine,nu_cnes,no_cbo,no_profissional,ds_turno,qt_atendimentos
0,2022-01-01,NaN,6362508,Enfermeiro,Carlos Alberto de Laranjeiras Pinto Filho,Tarde,1
1,2022-01-01,NaN,6362508,Enfermeiro,Carlos Alberto de Laranjeiras Pinto Filho,Não informado,2
2,2022-01-01,NaN,6362508,Enfermeiro,Carlos Alberto de Laranjeiras Pinto Filho,Manhã,4
3,2022-01-01,NaN,6362508,Enfermeiro,Claudia Cristina Oliveira de Almeida,Noite,3
4,2022-01-01,1557769.0,7524501,Enfermeiro,Jaercia Cardoso Lacerda,Noite,3

In [4]:
def normalize_columns(df):
    if df is None:
        print("Input DataFrame is None")
        return None

    df.columns = (
        df.columns
        .str.encode('ascii', errors='ignore')  # Remover acentos
        .str.decode('utf-8')
        .str.replace(' ', '_')  
        .str.lower()
    )
    
    print("Normalized column names:", df.columns.tolist())

    return df

In [5]:
normalize_columns(df_fato_atendimentos)
df_fato_atendimentos.head()

Normalized column names: ['dia', 'nu_ine', 'nu_cnes', 'no_cbo', 'no_profissional', 'ds_turno', 'qt_atendimentos']

,dia,nu_ine,nu_cnes,no_cbo,no_profissional,ds_turno,qt_atendimentos
0,2022-01-01,NaN,6362508,Enfermeiro,Carlos Alberto de Laranjeiras Pinto Filho,Tarde,1
1,2022-01-01,NaN,6362508,Enfermeiro,Carlos Alberto de Laranjeiras Pinto Filho,Não informado,2
2,2022-01-01,NaN,6362508,Enfermeiro,Carlos Alberto de Laranjeiras Pinto Filho,Manhã,4
3,2022-01-01,NaN,6362508,Enfermeiro,Claudia Cristina Oliveira de Almeida,Noite,3
4,2022-01-01,1557769.0,7524501,Enfermeiro,Jaercia Cardoso Lacerda,Noite,3

In [8]:
import psycopg2

try:
    conn = psycopg2.connect("host=localhost port=5455 dbname=puc_db_dw user=pucadmin password=pucadmin123")
    print("Connected!")
except psycopg2.Error as e:
    print(e)

connection to server at "localhost" (::1), port 5455 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5455 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

In [6]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print(e)

In [7]:
schema_name = 'fonte'

try:
    cur.execute(f"CREATE SCHEMA IF NOT EXISTS {schema_name};")
    conn.commit()
    print(f"Schema '{schema_name}' criado com sucesso ou já existe.")
except psycopg2.Error as e:
    conn.rollback()
    print(f"Erro ao criar o schema '{schema_name}': {e}")

Schema 'fonte' criado com sucesso ou já existe.

In [11]:
from sqlalchemy import create_engine

# Configurando a string de conexão
engine = create_engine("postgresql+psycopg2://puc:puc@localhost:5455/db_fonte")

# Salvando os DataFrames no schema especificado

df_fato_atendimentos.to_sql('atendimentos', engine, schema=schema_name, if_exists='replace', index=False)

print("Tabela inseridas no banco de dados com sucesso!")

# Fecha a conexão
engine.dispose()

FileNotFoundError: [Errno 2] No such file or directory: 'caminho_para_o_arquivo.xlsx'